// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/** default layout css **/

body {
    background-color: white !important;
}

li {
    list-style-type: none;
}

.btn.btn-primary {
    background-color:$default-blue;
}

.bolder-text {
    font-weight:bolder;
}

.italic-text {
    font-style:italic;
}

.main-title {
    font-size:20px;
    font-weight:bolder;
}

.barlow-font {
    font-family: 'Barlow', sans-serif !important;
}

a {
    color:black;
}

a:hover {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

/** color **/
.primary {
    color:#0B5ED7;
}

$spaceamounts: (5,10,15,20,25,30,35,40,45,50,75,100);
$sides: (top,bottom,left,right);

@each $space in $spaceamounts {
    @each $side in $sides {
        .mg-#{str-slice($side,0,1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .pd-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}

$i: 1;
@for $i from 1 to 100 {
    .text-#{$i} {
        font-size:#{$i}px;
    }
}


.d-justify-center {
    display:flex;
    justify-content: center;
}

.d-space-between {
    display:flex;
    justify-content: space-between;
}

.d-align-center {
    display:flex;
    align-items: center;
}

.align-flex-start {
    display: flex;
    align-items: flex-start;
}

.d-space-around {
    display:flex;
    justify-content:space-around;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

/** jquery ui override **/

.ui-menu-item {
    padding:5px !important;
    font-size:12px;
}

.ui-menu-item:hover {
    background-color: $default-rose;
    font-weight: bolder;
}

.py-4 {
    padding-top:0px !important;
}

/** ALBUMS PART CSS **/

#tracklist-album {
    width:30%;
    padding:15px;
    position: relative;
    bottom: 50px;
}

#notation-album {
    width: 100%;
    position:relative;
    bottom:50px;
    height:210px;
}

.shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding:15px;
    border-radius: 5px;
}

.track-album {
    border-bottom:0.5px solid lightgrey;
    margin-top:10px;
    margin-bottom: 10px;
    display:flex;
    align-items:center;
    width:100%;
    padding:5px;
}

.disk-image {
    -webkit-mask-image: radial-gradient(circle farthest-side at center, transparent 20%, white 10%);
    width:30px;
    border-radius:20px;
    border: 0.5px solid grey;
}

.disk-image-50 {
    -webkit-mask-image: radial-gradient(circle farthest-side at center, transparent 20%, white 10%);
    width:50px;
    border-radius:50px;
    border: 0.5px solid grey;
}

.disk-image:hover {
    border-color: #D2565D;
    animation-name: spin;
    animation-duration: 1000ms;
}


svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
  }
  
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 10;
  }
  
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: black;
    text-anchor: middle;
  }

  .box {
    height: 130px;
  }


@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

/** responsive design **/


// show album part
@media (max-width:780px) {
    #cover {
        display: none;
    }

    #content {
        margin-top: 110px;
    }
}

@media (max-width: 1024px) {
    #cover {
        display:none;
    }

    #content {
        margin-top: 110px;
    }
}

@media (max-width: 380px) {
    #tracklist-album {
        display: none;
    }

    #container-right {
        width:80% !important;
    }
}

// homepage

@media (max-width: 415px) {
    .disk-image-50 {
        width: 30px !important;
    }

    .album-name {
        font-size:10px;
    }
}

@media (max-width: 280px) {
    .disk-image-50 {
        width: 25px !important;
    }

    .album-name {
        font-size:8px;
    }
}